.App {
  text-align: center;
}

.reward-program {
  position: relative;
  padding: 20px 70px;
  min-width: 850px;
}

.alert-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.select-group-container {
  min-width: 850px;
}

.transaction-table-container {
  border-radius: 10px;
  background-color: rgb(231, 235, 240);
  padding: 20px;
  min-width: 850px;
}
