.select-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.select-group__select-container {
  padding: 10px;
  font-size: 0.875rem;
}

.select-group__select-container select {
  min-width: 100px;
}
