.transaction-table {
  height: 450px;
  overflow: auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

table {
  font-size: 0.875rem;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid rgb(224, 224, 224);
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

th {
  position: sticky;
  top: 0;
  line-height: 1.8rem;
}

td {
  line-height: 1.4rem;
}
